<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Минько Елена Михайловна. Лабораторная 8 </title>
        <link rel="stylesheet" href="../main.css">
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-16x16.png">
        <link rel="icon" href="../favicon-32x32.png">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <header>
            НГТУ, ФБ, Лабораторная работа 8
            <hr>
        </header>

        <main>
            <div id="app">
                <h1 :title="messageRus">{{ message }}</h1>
                <p>Счётчик: {{ counter }}</p>
                <button @click="incCounter" v-if="counter < 10">++</button>
                <button @click="decCounter" v-if="counter > 0">--</button>                
                <hr>
                <h2>Пользователь:</h2>
                <div>Имя: {{ user.name }}</div>
                <div>Возраст: {{ user.age }}</div>
                <div>Телефон: {{ user.tel }}</div>
                <hr>
                <h2>Цветы</h2>
                <ul>
                    <li v-for="(flower, id) in flowers">
                        {{flower}} <button @click="edit(id, flower)">?</button>
                    </li>
                </ul>
                <hr>
            </div>
        </main>
    
        <footer>
            <hr>
            &copy; Елена Минько, ФБИ-34, 2 курс, 2025
        </footer>
        <script>
            Vue.createApp({
                data(){
                    return{
                        message: 'Hello!',
                        messageRus: 'Привет!',
                        counter: 1,
                        user: {
                            name: 'Lena',
                            age: '19',
                            tel: '777-666-333'
                        },
                    flowers: ['роза', 'тюльпан', 'маргаритка', 'георгин', 'одуванчик'],    
                    }
                },
                methods: {
                    incCounter() {
                        this.counter++;
                    },
                    decCounter() {
                        this.counter--;
                    },
                    edit(id,flower) {
                        let newName = prompt('Введите имя цветка:', flower);
                        this.flowers[id]='сохранение...';
                    setTimeout(() => {
                        this.flowers[id]=newName;
                    }, 3000)
                    },
                }
            }).mount('#app');
        </script>
    </body>
</html>
